# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# Data & Vector DB
vectorstore/
data/processed/

# Logs
logs/

venv/
data/raw/*.pdf
.env.local